#.gitignore

###### LIBRARIES
lib/

###### RUBBISH FOLDERS
resource/audio/
dokumentacja/
files/
bin/

###### RUBBISH FILES
FlagaConsola.txt
WorkTimer.exe
openal32.dll
*.o

###### VISUAL STUDIO CODE
.vscode/
