#.gitignore

###### LIBRARIES
boost/
SFML/

###### RUBBISH FOLDERS
audio/
dokumentacja/
files/
bin/

###### RUBBISH FILES
FlagaConsola.txt
WorkTimer.exe
openal32.dll

###### VISUAL STUDIO CODE
.vscode/
